.header{
    background-color: var(--primaryColor);
    display: flex;
    height:120px;
    justify-content: space-around;

  }
.headerLogo{
    height: 150px;
}
.profileButton{
    margin-top: 15px;
    height: 80px;
}
.headerTitle{
    font-size: larger;
    font-family:'Love Ya Like A Sister', cursive;
}
.headerProfileLink{
    position: relative;
}
