.header{
    background-color: var(--primaryColor);
    display: flex;
    height:120px;
    justify-content: space-around;

  }
.headerLogo{
    height: 150px;
}
.profileLink{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 50px;
}
.profilePicture{
    height: 40px;
}
.profileText{
    background-color: #3877D3;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 70px;
    color:white;
}

.headerTitle{
    font-size: larger;
    font-family:'Love Ya Like A Sister', cursive;
}
.headerProfileLink{
    position: relative;
}
