
:root {
  --primaryColor: #4690FF; /*Original #4690FF*/
  --secondaryColor: #3877D3; /*Original #3877D3*/
  --backgroundColor:#ffffff; /*Original #ffffff*/
}
.standardButton{
    color:white;
    font-family:'Love Ya Like A Sister', cursive;
    font-weight: bold;
    border-radius: 15px;
    align-self: center;
    border-style: none;
    border-color: var(--secondaryColor);
    background-color:var(--secondaryColor);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



