input {
    padding: 10px;
    padding-left: 40px;
    padding-right: 100px;
    font-size:x-large;
    border-radius: 40px;
    text-align: left;
    border-style: none;
}

.grid-field {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--primaryColor);
}
.logInStyle{
    padding-top: 50px;
    background-color: var(--primaryColor);
    height: 300px;
}

.grid-container{
    margin-left: 39%;
}
.getStarted{
    font-size: large;
}

.title {
    margin-left: 39%;
    font-size:x-large;
    font-family:'Love Ya Like A Sister', cursive;
}
.pageTitle{
    margin-bottom: -20px;
}
