input {
    padding: 10px;
    padding-left: 40px;
    padding-right: 100px;
    font-size:x-large;
    border-radius: 40px;
    text-align: left;
    border-style: none;
    margin-right: 10px;
}

.grid-field {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--primaryColor);
}
.logInStyle{
    padding-top: 50px;
    padding-left: 25%;
    padding-right: 25%;
    background-color: var(--primaryColor);
    height: 300px;
    color: white;
}

.grid-container{
    margin-left: 39%;
}
.getStarted{
    font-size: large;
}
.pageTitle{
    font-size: xx-large;
    font-family:'Love Ya Like A Sister', cursive;
}
.fieldSet{
    border-style: none;
    margin-left: -15px;
}
