.grid-container {
    display: grid;
    margin-top: 10%;
}

.grid-item {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.inputText {
    width: 100%;
    padding: 5%;
}

#translationInputBox {
    margin-top: 5%;
}

#translationOutputBox {
    background-color: #f5f1f1;
    padding: 3%;
    border-radius: 8px;
    border: 1px solid rgb(182, 181, 181);
    width: 60%;
    height: 80%;
}

.signImage {
    width: 70px;
    height: 70px;
}

.translation {
    height: 100%;
}