.grid-container {
    display: grid;
    margin-top: 10%;
}

.grid-item {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.inputBox {
    width: 100%;
    padding: 5%;
}

#translationBox {
    background-color: #EEEEEE;
    padding: 10%;
}