
.inputText {
    margin-top: 70px;
    width: 400px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size:x-large;
    border-radius: 40px;
    text-align: left;
    border: white;
}
.inputs{
    height: 150px;
    background-color: var(--primaryColor);
    display: flex;
    width: 100%;
    vertical-align: middle;
    justify-content: space-evenly;
}
.standardButton{
    margin-left: -100px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: -10px;
}

#translationBox {
    margin-top: 70px;
    margin-left: 20%;
    padding: 2%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 5px lightgrey;
    width: 50%;
    height: 300px;
}

.signImage {
    width: 70px;
    height: 70px;
}